
@media screen and (max-width: 768px) {

    .navlist, .bottom{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .talk, .advanced-button{
        width:100%;
    }

    .main{
        width: 100%;
    }

    .search-area{
        flex-direction: column;
    }


    .news{
        width: 90%;
    }


}